

.login-form .login-button {
  max-width: 220px;
  margin: 10px;
}

.login-form md-input-container {
  display: block;
  max-width: 300px;
  width: 90%;
  margin: 0 auto 30px auto;
}

.login-form .button-container {
  margin: auto;
  display: inherit;
}
