html, body, main{
  margin: 0;
  height: 100%;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

login, register {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

#anounsee-container {
  height: 100%;
  width: 100%;
}
