.login-form .login-button {
  max-width: 220px;
  width: 60%;
  margin: auto;
  display: inherit;
}

.login-form md-input-container {
  display: block;
  max-width: 300px;
  width: 90%;
  margin: 0 auto 30px auto;
}

.login-form md-card {
  margin: 20px;
}
