<div *ngFor="let place of places" [hidden]="place.hidden || isRatingEnds" class="training-cont">
  <div class="headerContainer">
    <img src="{{place.mainImage}}" class="md-card-image">
    <h1>{{place.name}}</h1>
  </div>
  <md-card class="training-card">
    <md-card-header>
    </md-card-header>
    <md-card-content>
      <star-rating-comp class="detail"
                        [starType]="'svg'"
                        [rating]="place.rating"
                        [staticColor]="'ok'"
                        [showHalfStars]="true"
                        [readOnly]="true"></star-rating-comp>
      <div class="detail">{{place.review}}</div>
      <div class="detail" *ngIf="place.address && place.address.length !== 0"><span class="bold">Address:</span> {{place.address}}</div>
      <div class="detail" *ngIf="place.phone && place.phone.length !== 0"><span class="bold">Phone number:</span>  {{place.phone}}</div>
      <!--<div class="detail" *ngIf="place.openingHours && place.openingHours.length !== 0"><span class="bold">Opening hours:</span> {{place.openingHours}}</div>-->
      <div class="detail website"><a href="url">{{place.website}}</a></div>
    </md-card-content>
    <md-card-actions class="buttons-container">
      <div> <star-rating-comp class="star-user-rating"
                              [id]="place.id"
                              [starType]="'svg'"
                              [rating]="0"
                              [staticColor]="'ok'"
                              [size]="'large'"
                              [showHalfStars]="true"></star-rating-comp></div>
    </md-card-actions>
  </md-card>
  <button class="button-next" md-raised-button (click)="moveToNext()">
    Rate the next place
  </button>
</div>

<md-card *ngIf="isRatingEnds" class="training-card">
  <md-card-header>
    <h2>Thank you for your time!</h2>
  </md-card-header>
  <md-card-content>
    <a [routerLink]=" ['/home'] "
       [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      Home Page
    </a>
  </md-card-content>
</md-card>
