<md-sidenav-container class="sidenav-container">

  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <nav>
      <h2>Menu</h2>
      <ul>
        <li>
        <a [routerLink]=" ['/home'] " (click)="sidenav.toggle()"
           [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          My Feed
        </a>
      </li><li>
        <a [routerLink]=" ['/training'] " (click)="sidenav.toggle()"
           [routerLinkActive]="['active']">
          Train ArounSee
        </a>
      </li>
        <li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected"
             class="" [routerLink]=" ['/login'] ">
            LogOut
          </a>
        </li>
      </ul>
    </nav>
  </md-sidenav>
  <div class="page-content">
  <md-toolbar class="toolbar">
    <button id="menu-toggle" class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    <h4 class="title">ArounSee</h4>
    <div style="width: 41px"></div>
  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  </div>

</md-sidenav-container>
