.sidenav-container {
  background-color: #F5F5F5;
  height: 100%;
}

.sidenav-container .title {
  font: 400 19px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  margin: 0 auto;
}

.sidenav-container h2 {
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0 83px;
}

.sidenav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidenav-container li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0;
  padding: 0;
}

.sidenav-container li {
  border-color: rgba(0,0,0,.06);
  color: rgba(0,0,0,.54);
}

.sidenav-container li>a {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  padding: 0 16px;
  position: relative;
  color: rgba(0,0,0,.54);
}

.sidenav-container li>a:hover {
  background: #fafafa;
  color: #00bcd4;
}

.sidenav-container li>a.docs-component-viewer-sidenav-item-selected {
  font-weight: 600;
}

.sidenav-container .toolbar {
  background: linear-gradient(to right, rgb(195, 55, 100), rgb(29, 38, 113));
  box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.sidenav-container .toolbar .title{
      margin-left: 16px;
    font-weight: 100;
}

#menu-toggle{
	color:white;
	margin-top: 4px;
}

.app-sidenav {
  width: 240px;
}

.app-content{
  height:100%;
  overflow-y: auto;
  background: repeating-linear-gradient(-45deg, rgba(69, 90, 100, 0.1), rgba(69, 90, 100, 0.1) 5px, rgba(236, 239, 241, 0.8) 5px, rgba(236, 239, 241, 0.8) 10px);
}

.page-content{
      display: flex!important;
    flex-direction: column;
    height:100%;
}
